# Exclude macOS and VS code local files
.DS_Store
.LSOverride
.vscode/

# Exclude local folder directories
ConfigFile/
v2-SQLScripts/
CustomSQL/
Demo_00/
Demo_01/
Other/

# Exclude local files
*.sh
azure-pipelines.yml.*
Azure pipeline CI config.png